@import './navbar.css';
@import './me.css';
@import './resume.css';
@import './project.css';
@import './blog.css';
@import './hobby.css';
@import './tracksearchresult.css';
@import './music.css';

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
  }
  
  body {
    height: 100vh;
    padding: 0;
    margin: 0; 
}

ul{
  padding-left: 0 !important; 
}

li{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{
  text-decoration: none !important;
}

h2{
  font-size: 2em;
  font-weight: 700 !important;
  font-family: "Source Sans Pro", sans-serif;
  color: #0d9dfd !important;
}

h3{
  font-size: 1.5em;
}

p{
  margin-bottom: 0.8em;
  line-height: 1.6em;
}

/* svg{
  width: 100%;
  height: 100%;
} */
