.content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #04d4f0 !important;
}

.photo{
    margin-top: 8vw;
    border-radius: 50%;
    text-align: center;
}

.photo img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

@keyframes fade-out{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

.my-photo{
    animation: fade-out 1.5s;
}

.self-introduction{
    animation: fade-out 3s;
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.15em;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
}

.resource{
    animation: fade-out 6s;
    padding-left: 40vw !important;
    padding-right: 40vw;
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.resource li{
    display:inline-block;
    flex: none;
    margin:auto;
    width: 2rem;
    height: 2rem;
}

.resource li a{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 2em;
}   

.resource li a svg{
    width: 100%;
    height: 100%;
}

.resource li svg{
    fill: #1e47ff;
}

.resource li svg:hover{
    fill: #fff;
}