.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #04d4f0 !important;
}

.photo{
    margin-top: 8vw;
    border-radius: 50%;
    text-align: center;
}

.photo img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

@keyframes fade-out{
    0%{opacity: 0;}
    100%{opacity: 100%;}
}

.my-photo{
    animation: fade-out 1.5s;
}

@keyframes color-change{
    0%{
        background-position: 300%;
    }
    100%{
        background-position: 0%;
    }
}

.self-introduction{
    margin: auto 37vw;
    background: linear-gradient(170deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4,#ff0000);
    background-size: 400%;
    padding-top: 2rem;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.15em;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: color-change 10s linear infinite;
}


.resource{
    animation: fade-out 6s;
    padding-left: 40vw !important;
    padding-right: 40vw;
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.resource li{
    display:inline-block;
    flex: none;
    margin:auto;
    width: 2rem;
    height: 2rem;
}

.resource li a{
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 2em;
}   

.resource li a svg{
    width: 100%;
    height: 100%;
}

.resource li svg{
    fill: #1e47ff;
}

.resource li svg:hover{
    fill: #fff;
}
.objects{
    background: linear-gradient(to right, #155799);
    width: 100%;
    height: 100vh;
}

.box{
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box li{
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, .5);
    animation: animate 20s linear infinite;
    bottom: -15px;
    border-radius: 50%;
}

.box li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
}

.box li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box li:nth-child(4){
    left: 65%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) scale(0);
    }
    100%{
        transform: translateY(-800px) scale(2);
        opacity: 0;
    }
}