.add-color{
   color: #0d6efd !important;
}

.project{
    width: 50vw;
    min-height: 50vh;
    margin: 10vh auto;
    padding-bottom: 10vh;
}

.project-list>li{
    margin-bottom: 10vh;
}


.project a:hover{
    text-decoration: underline !important;
}